:root {
    --yellow-tranparent: rgba(253, 238, 215, 0.9);

    --blue: rgb(70, 101, 111);
    --grey: rgb(128, 128, 128);
    --red: rgb(222, 111, 66);
    --lightRed: rgb(255, 134, 86);
    --yellow: rgb(253, 238, 215);
    --green: rgb(176, 205, 66);
}

#taskbar {
    background-color: var(--blue);
    position: fixed;
    left: 0px;
    top: 0px;
    height: 3%;
    filter: url(../img/filtreSVG.svg#Grain);
}

#desktop {
    position: fixed;
    left: 0px;
    top: 3%;
    background-color: var(--yellow);
}

.div {
    background-color: var(--yellow-tranparent);
    border: 6px solid var(--blue);
    border-radius: 25px;
    position: absolute;
}

/*BAR*/
.percentageBar {
    top: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid var(--blue);
    position: absolute;
    border-radius: 13px;
    left: 5px;
    width: calc(100% - 20px);
}

.bar {
    background-color: var(--green);
    border: 0px;
    position: absolute;
    top: 2px;
    height: calc(100% - 4px);
    left: 2px;
    right: 2px;
    border-radius: 6px;
}

.batteryInText {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    top: 0px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: xx-large;
    -webkit-text-fill-color: var(--blue);
    -webkit-text-stroke: 1px var(--blue);
    /*-webkit-text-fill-color: var(--background-color);
    -webkit-text-stroke: 3px var(--second-color);*/
}

.batteryOutText {
    left: 10px;
    text-align: left;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    top: 0px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: xx-large;
    font-weight: 400;
    -webkit-text-fill-color: var(--blue);
    -webkit-text-stroke: 1px var(--blue);
    /*-webkit-text-fill-color: var(--background-color);
    -webkit-text-stroke: 3px var(--second-color);*/
}

#leftBatteryText {
    text-align: left;
    font-weight: 300;
    font-size: x-large;
    -webkit-text-stroke: 0px var(--blue);
    margin: 5px;
}

#MidBatteryText {
    text-align: center;
}

#rightBatteryText {
    margin-top: 5px;
    margin-left: -5px;
    text-align: right;
    font-weight: 300;
    font-size: x-large;
    -webkit-text-stroke: 0px var(--blue);
}

/*Audio*/
/*Image*/
.divAudioImage {
    height: 45%;
}

.audioImage {
    position: relative;
    border-radius: 20px;
    border: 5px solid var(--blue);
}

/*UI*/
.audioUi {
    width: 100%;
    height: 55%;
}

/*canvas*/
.audioVisualizationDiv {
    width: 70%;
    height: 40%;
    left: 15%;
    position: relative;
}

.audioVisualization {
    width: 100%;
    height: 100%;
}

/*Slider*/
.audioBar {
    width: 100%;
    height: 30%;
    position: relative;
}

.audioBarfront {
    height: 100%;
    background-color: var(--lightRed);
}

.audioBarbackground {
    height: 20%;
    background-color: var(--red);
    border-radius: 10px;
}

.audioBarhandle {
    border-radius: 100%;
    aspect-ratio: 1;
    background-color: var(--lightRed);
}

.audioBarleftText {}

.audioBarrightText {}

/*Text*/
.audioTextDiv {
    width: 100%;
    height: 30%;
    position: relative;
}

.audioText {
    top: 5%;
    bottom: 2.5%;
    width: 90%;
    height: 42.5%;
    left: 5%;
    position: relative;
    -webkit-text-fill-color: var(--blue);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 0px;
}

.audioSubText {
    top: 2.5%;
    bottom: 5%;
    width: 90%;
    height: 42.5%;
    left: 5%;
    position: relative;
    -webkit-text-fill-color: var(--blue);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 0px;
}