<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>wallpaper</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="taskbar"></div>
    <div id="desktop"></div>
  </body>
  <script src="js/app.js" type="module"></script>
</html>